.vs
\RefactorThisRebuild\RefactorThisRebuild\bin\Debug\*
\RefactorThisRebuild\RefactorThisRebuild\obj\Debug\*
\RefactorThisRebuild\RefactorThisRebuild.tests\bin\Debug\*
\RefactorThisRebuild\RefactorThisRebuild.tests\obj\Debug\*

